<section class="wf100 subheader">
  <div class="container">
    <div class="s-heading">
      <h1><font color="white">الخدمات</font> المقدمة</h1>
    </div>
  </div>
</section>
<section class="services">
  <!--heading---------------->

  <!--services-box-container------------------->

  <div class="s-box-container">
    <!--service-box-1---------------->
    <div class="s-box">
      <!--top-bar-------->
      <div class="bar"></div>
      <!--img---------->
      <img alt="1" src="../../../assets/images/dossier.png" />
      <!--servies-name---------->
      <h1>خدمة متابعة الملفات</h1>
      <!--details------>
      <p>
        تبع حالة الملفات و مطالب الرخص عن بعد، يكفي انك تتحصل على معرف الملف من
        البلدية
      </p>
      <!--btn---------->
      <a class="s-btn" href="#">المزيد </a>
    </div>
    <!--service-box-1---------------->
    <div class="s-box">
      <!--top-bar-------->
      <div class="bar"></div>
      <!--img---------->
      <img alt="2" src="../../../assets/images/info.png" />
      <!--servies-name---------->
      <h1>خدمة النفاذ إلى المعلومة</h1>
      <!--details------>
      <p>
        أي معلومة تستحقها من البلدية، تجم تقدم فيها مطلب نفاذ عن بعد و تتحصل
        عليها في الصيغة اللي تطلبها
      </p>
      <!--btn---------->
      <a class="s-btn" href="#">المزيد </a>
    </div>
    <!--service-box-3---------------->
    <div class="s-box">
      <!--top-bar-------->
      <div class="bar"></div>
      <!--img---------->
      <img alt="3" src="../../../assets/images/guide.png" />
      <!--servies-name---------->
      <h1>دليل الخدمات البلدية</h1>
      <!--details------>
      <p>تعرف على الشروط و الوثائق الضرورية مش تنتفع بمختلف الخدمات البلدية</p>
      <!--btn---------->
      <a class="s-btn" href="#">المزيد </a>
    </div>

    <!--service-box-3---------------->
    <div class="s-box">
      <!--top-bar-------->
      <div class="bar"></div>
      <!--img---------->
      <img alt="3" src="../../../assets/images/commite.jpeg" />
      <!--servies-name---------->
      <h1>اللجان والتقارير البلدية</h1>
      <!--details------>
      <p>خليك متابع نشاط أعضاء المجلس البلدي و تصفح آخر تقاريرهم</p>
      <!--btn---------->
      <a class="s-btn" href="#">المزيد </a>
    </div>
    <div class="s-box">
      <!--top-bar-------->
      <div class="bar"></div>
      <!--img---------->
      <img alt="3" src="../../../assets/images/calend.png" />
      <!--servies-name---------->
      <h1>رزنامة المواعيد البلدية</h1>
      <!--details------>
      <p>تصفح مواعيد أهم الأنشطة والاجتماعات القادمة للبلدية و شارك فيها</p>
      <!--btn---------->
      <a class="s-btn" href="calendrier">المزيد </a>
    </div>
  </div>
</section>
