<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>

<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- Page title -->
      <div class="my-5">
        <h3>My Profile</h3>
        <hr />
      </div>
      <!-- Form START -->
      <form
        class="file-upload validate-form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <div class="row mb-5 gx-5">
          <!-- Contact detail -->
          <div class="col-xxl-8 mb-5 mb-xxl-0">
            <!-- change password -->
            <div class="col-md-12">
              <div class="bg-secondary-soft px-4 py-5 rounded">
                <div class="row g-3">
                  <h4 class="my-4 text-center">Change Password</h4>
                  <!-- Old password -->
                  <div class="col-md-6">
                    <label
                      for="exampleInputPassword1"
                      name="old_password"
                      class="form-label"
                      >Old password *</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      formControlName="old_password"
                      id="exampleInputPassword1"
                      name="old_password"
                      [ngClass]="{
                        'is-invalid': submitted && f['old_password'].errors
                      }"
                    />
                  </div>
                  <!-- New password -->
                  <div class="col-md-6">
                    <label for="exampleInputPassword2" class="form-label"
                      >New password *</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      formControlName="new_password"
                      name="new_password"
                      id="exampleInputPassword2"
                      [ngClass]="{
                        'is-invalid': submitted && f['new_password'].errors
                      }"
                    />
                  </div>
                  <!-- Confirm password -->
                  <div class="col-md-12">
                    <label for="exampleInputPassword3" class="form-label"
                      >Confirm Password *</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="exampleInputPassword3"
                      formControlName="confirm_password"
                      name="confirm_password"
                      [ngClass]="{
                        'is-invalid': submitted && f['confirm_password'].errors
                      }"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Upload profile -->
          <div class="col-xxl-4">
            <div class="bg-secondary-soft px-4 py-5 rounded">
              <div class="row g-3">
                <h4 class="mb-4 mt-0">Upload your profile photo</h4>
                <div class="text-center">
                  <!-- Image upload -->
                  <div class="square position-relative display-2 mb-3">
                    <i
                      class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"
                    ></i>
                  </div>
                  <!-- Button -->
                  <input type="file" id="customFile" name="file" hidden="" />
                  <label class="btn btn-success-soft btn-block" for="customFile"
                    >Upload</label
                  >
                  <button type="button" class="btn btn-danger-soft">
                    Remove
                  </button>
                  <!-- Content -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Row END -->
        <!-- button -->
        <div class="d-md-flex justify-content-center text-center">
          <button type="submit" class="btn btn-primary">Update profile</button>
        </div>
      </form>
      <!-- Form END -->
    </div>
  </div>
</div>
