<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<body class="hero-anime">
  <div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" routerLink=""
              ><img
                src="../../../assets/images/logom-removebg-preview.png"
                alt=""
            /></a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link" routerLink="">Home </a>
                </li>

                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Nouveautés</a
                  >
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="newss">
                      Les Actualités
                    </a>
                    <a class="dropdown-item" routerLink="events"
                      >Evénements Municipaux</a
                    >
                    <a class="dropdown-item" routerLink="calendrier"
                      >Calendriers des seances pliniéers</a
                    >
                  </div>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" routerLink="projet">Projets</a>
                </li>

                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Vie Associative</a
                  >
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="association"
                      >Associations</a
                    >
                    <a class="dropdown-item" routerLink="events"
                      >Evénements Nationaux et internationaux</a
                    >
                    <a class="dropdown-item" href="#">Financement Public</a>
                  </div>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" routerLink="circ">Circonscriptions </a>
                </li>
                <li
                  class="nav-item pl-4 pl-md-0 ml-0 ml-md-4"
                  *ngIf="loggedIn()"
                >
                  <a
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Services</a
                  >
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" routerLink="gallery">photos</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" routerLink="contact">Contact</a>
                </li>
              </ul>
              <div class="ml-auto p-5">
                <div class="navbar-nav ml-auto">
                  <li *ngIf="!loggedIn()" style="margin-right: 16px">
                    <a class="btn btn-outline-success" routerLink="login"
                      ><i class="fa fa-sign-in"></i
                    ></a>
                  </li>

                  <li *ngIf="!loggedIn()" style="margin-right: 16px">
                    <a class="btn btn-outline-secondary" routerLink="signup"
                      ><i class="fa fa-user-plus" aria-hidden="true"></i
                    ></a>
                  </li>

                  <li *ngIf="loggedIn()" style="margin-right: 16px">
                    <a class="btn btn-outline-success" routerLink="profile"
                      ><i class="fa fa-user"></i
                    ></a>
                  </li>
                  <li *ngIf="loggedIn()" style="margin-right: 16px">
                    <a
                      class="btn btn-outline-danger"
                      (click)="onLogOut()"
                      href="#"
                      ><i class="fa fa-power-off" aria-hidden="true"></i
                    ></a>
                  </li>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</body>
