<script src="../../../assets/js/custom.js"></script>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <div class="row">
      <div class="col-xl-6">
        <h1>Une meilleure expérience digitale avec Municipcom</h1>
        <p>
          La plateforme numérique municipale (Municipcom.tn) est une plateforme
          électronique créée pour faciliter la communication numérique entre les
          municipalités et les citoyens à travers une gamme de services
          administratifs et participatifs.
        </p>
        <a routerLink="about" class="btn-get-started scrollto"
          >à propos de nous</a
        >
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
<!--Cityscapes & Highlights Start-->
<div
  class="container wow fadeInLeft"
  data-wow-delay="0.1s"
  style="
    visibility: visible;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
  "
>
  <h3 class="title-style- site-heading text-center slide-left">
    Paysages urbains et faits saillants
  </h3>
  <div
    class="cityscapes wf100 container"
    style="display: flex; align-items: center; justify-content: center"
  >
    <div class="row">
      <!--Item Start-->
      <div class="col-md-7 col-sm-7 p5">
        <div class="ch-box">
          <div class="ch-thumb">
            <img src="../../../assets/images/cityscape1.jpg" alt="" />
          </div>
          <div class="ch-txt">
            <h5><a href="#">History & Culture</a></h5>
            <ul>
              <li><a href="#">48 Photos</a></li>
              <li><a href="#">21 Videos</a></li>
            </ul>
            <p>
              Aliquam facilisis lacus at risus condimentum, vitae auctor felis
              fringilla nullam dapibus tellus ante.
            </p>
          </div>
        </div>
      </div>
      <!--Item End-->
      <!--Item Start-->
      <div class="col-md-5 col-sm-5 p5">
        <div class="ch-box">
          <div class="ch-thumb">
            <img src="../../../assets/images/cityscape2.jpg" alt="" />
          </div>
          <div class="ch-txt">
            <h6><a href="#">City Tour Map</a></h6>
            <ul>
              <li><a href="#">48 Photos</a></li>
              <li><a href="#">21 Videos</a></li>
            </ul>
            <p>Aliquam facilisis lacus at risus condimentum, vitae auctor.</p>
          </div>
        </div>
        <div class="ch-box">
          <div class="ch-thumb">
            <img src="../../../assets/images/cityscape3.jpg" alt="" />
          </div>
          <div class="ch-txt">
            <h6><a href="#">Things to do in city</a></h6>
            <ul>
              <li><a href="#">48 Photos</a></li>
              <li><a href="#">21 Videos</a></li>
            </ul>
            <p>Aliquam facilisis lacus at risus condimentum, vitae auctor.</p>
          </div>
        </div>
      </div>
      <!--Item End-->
      <!--Item Start-->
      <div class="col-md-4 col-sm-4 p5">
        <div class="ch-box">
          <div class="ch-thumb">
            <img src="../../../assets/images/cityscape4.jpg" alt="" />
          </div>
          <div class="ch-txt">
            <h6><a href="#">Food & Restaurants</a></h6>
            <ul>
              <li><a href="#">48 Photos</a></li>
              <li><a href="#">21 Videos</a></li>
            </ul>
            <p>
              Aliquam facilisis lacus at risus condimentum, vitae auctor felis.
            </p>
          </div>
        </div>
      </div>
      <!--Item End-->
      <!--Item Start-->
      <div class="col-md-4 col-sm-4 p5">
        <div class="ch-box">
          <div class="ch-thumb">
            <img src="../../../assets/images/cityscape5.jpg" alt="" />
          </div>
          <div class="ch-txt">
            <h6><a href="#">Hoteling & Hostels</a></h6>
            <ul>
              <li><a href="#">48 Photos</a></li>
              <li><a href="#">21 Videos</a></li>
            </ul>
            <p>
              Aliquam facilisis lacus at risus condimentum, vitae auctor felis.
            </p>
          </div>
        </div>
      </div>
      <!--Item End-->
      <!--Item Start-->
      <div class="col-md-4 col-sm-4 p5">
        <div class="ch-box">
          <div class="ch-thumb">
            <img src="../../../assets/images/cityscape6.jpg" alt="" />
          </div>
          <div class="ch-txt">
            <h6><a href="#">Nightlife Entertainments</a></h6>
            <ul>
              <li><a href="#">48 Photos</a></li>
              <li><a href="#">21 Videos</a></li>
            </ul>
            <p>Aliquam facilisis lacus at risus condimentum, vitae auctor.</p>
          </div>
        </div>
      </div>
      <!--Item End-->
    </div>
  </div>
</div>
<!--Cityscapes & Highlights End-->
<!-- ======= Services Section ======= -->
<section
  class="container we-offer-area text-center bg-gray wow fadeInLeft"
  data-aos="fade-up"
  data-wow-delay="0.1s"
  style="
    visibility: visible;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="site-heading text-center slide-left">
          <h2>Ce que nous <span>offrons</span></h2>
          <p class="slide-left">
            Suivez l'état de la réclamation de la municipalité, signalez tout
          </p>
        </div>
      </div>
    </div>
    <div class="row our-offer-items less-carousel">
      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-folder"></i>
          <h4>Service de suivi de dossier</h4>
          <p>
            Suivez à distance l'état des dossiers et les exigences de licence,
            il suffit que vous obteniez le code du dossier auprès de la
            municipalité
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-info-circle"></i>
          <h4>Service d'accès à l'information</h4>
          <p>
            Toute information que vous méritez de la municipalité, vous devez
            soumettre une demande d'accès à distance et l'obtenir dans le
            formulaire que vous demandez
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-newspaper-o"></i>
          <h4>Mises à jour municipales</h4>
          <p>
            Informez-vous sur l'actualité de la municipalité, y compris les
            notifications, les offres d'emploi, les demandes d'offres et autres.
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-6 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-group"></i>
          <h4>Comités municipaux et rapports</h4>
          <p>
            Restez à l'affût des activités des membres du conseil municipal et
            parcourez leurs derniers rapports
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-6 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-calendar"></i>
          <h4>Calendrier municipal</h4>
          <p>
            Parcourez les dates des activités les plus importantes et des
            réunions à venir de la municipalité et participez-y
          </p>
        </div>
      </div>
      <!-- End Single Item -->
    </div>
  </div>
</section>
<!-- End Services Section -->

<!--City News Start-->
<div
  class="container wow fadeInLeft"
  data-wow-delay="0.1s"
  style="
    visibility: visible;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
  "
>
  <div class="blog-home2 py-5">
    <div class="container">
      <!-- Row  -->
      <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-md-8 text-center">
          <h3 class="my-3">Les actualités à venir</h3>
        </div>
        <!-- Column -->
        <!-- Column -->
      </div>
      <div class="row mt-4">
        <!-- Column -->
        <div class="col-md-4 on-hover" *ngFor="let n of news">
          <div class="card border-0 mb-4">
            <a href="#"
              ><img
                class="card-img-top"
                style="height: 300px; width: 500px"
                src="{{ path }}{{ n.image }}"
                alt="wrappixel kit"
            /></a>
            <div
              class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute"
            >
              <span class="d-block font-weight-small" style="font-size: 10px">{{
                n.date
              }}</span>
            </div>
            <h5 class="font-weight-medium mt-3">
              <a href="#" class="text-decoration-none link">{{ n.nom }}</a>
            </h5>

            <a
              class="btn btn-outline-success text-decoration-none linking text-success mt-2 align-items-center justify-content-center"
              routerLink="event/{{ n.id }}"
              >Lisez plus ...</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Event Festivals & News Articles Start-->
  <div class="blog-home2 py-5">
    <div class="container">
      <!-- Row  -->
      <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-md-8 text-center">
          <h3 class="my-3">Evènements à venir</h3>
          <h6 class="subtitle font-weight-normal">
            Vous pouvez vous appuyer sur notre incroyable liste de
            fonctionnalités et notre service client sera sans aucun doute une
            expérience formidable pour vous.
          </h6>
        </div>
        <!-- Column -->
        <!-- Column -->
      </div>
      <div class="row mt-4">
        <!-- Column -->
        <div class="col-md-4 on-hover" *ngFor="let e of event">
          <div class="card border-0 mb-4">
            <a href="#"
              ><img
                class="card-img-top"
                style="height: 300px; width: 500px"
                src="{{ path }}{{ e.image }}"
                alt="wrappixel kit"
            /></a>
            <div
              class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute"
            >
              <span class="d-block font-weight-small" style="font-size: 10px">{{
                e.date
              }}</span>
            </div>
            <h5 class="font-weight-medium mt-3">
              <a href="#" class="text-decoration-none link">{{ e.nom }}</a>
            </h5>

            <a
              class="btn btn-outline-success text-decoration-none linking text-success mt-2 align-items-center justify-content-center"
              routerLink="event/{{ e.id }}"
              >Lisez plus ...</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Event Festivals & News Articles End-->

  <!--Main Content End-->
</div>

<!-- ======= Our Clients Section ======= -->
<section id="clients" class="clients">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Les partenaires de la municipalité</h2>
    </div>

    <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">
      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/images/client-1.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/images/client-2.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/images/client-3.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/images/client-4.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/images/client-5.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/images/client-6.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/images/client-7.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-6">
        <div class="client-logo">
          <img
            src="../../../assets/images/client-8.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Our Clients Section -->
