<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div
        class="login100-form-title"
        style="background-image: url(../../../../assets/images/bg-01.jpg)"
      >
        <span class="login100-form-title-1"> Changer mot de passe </span>
      </div>

      <form
        class="login100-form validate-form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <div
          class="wrap-input100 validate-input m-b-18"
          data-validate="Password is required"
        >
          <span class="label-input100">Mot de passe</span>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Entrer votre mot de passe"
            required="required"
            formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
          />
          <div
            *ngIf="submitted && f['password'].errors"
            class="invalid-feedback"
          >
            <div
              style="text-align: left"
              *ngIf="f['password'].errors['required']"
            >
              Password is required
            </div>
            <div
              style="text-align: left"
              *ngIf="f['password'].errors['minlength']"
            >
              Password must be at least 6 characters
            </div>
            <div
              style="text-align: left"
              *ngIf="f['password'].errors['maxlength']"
            ></div>
          </div>
          <span class="focus-input100"></span>
        </div>

        <div
          class="wrap-input100 validate-input m-b-18"
          data-validate="Password is required"
        >
          <span class="label-input100">Mot de passe</span>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Confirm Password"
            required="required"
            formControlName="confirmPassword"
            [ngClass]="{
              'is-invalid': submitted && f['confirmPassword'].errors
            }"
          />
          <div
            *ngIf="submitted && f['confirmPassword'].errors"
            class="invalid-feedback"
          >
            <div
              style="text-align: left"
              *ngIf="f['confirmPassword'].errors['required']"
            >
              Password is required
            </div>
            <div
              style="text-align: left"
              *ngIf="f['confirmPassword'].errors['minlength']"
            >
              Password must be at least 6 characters
            </div>
            <div
              style="text-align: left"
              *ngIf="f['confirmPassword'].errors['match']"
            >
              password must match
            </div>
          </div>
          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-b-30">
          <div class="contact100-form-checkbox">
            <span href=""> Already't have an account? </span
            ><a href="login">Login</a>
          </div>
          <div class="contact100-form-checkbox">
            Don't have an account? <a href="signup">Register here!</a>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</div>
