<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div
        class="login100-form-title"
        style="background-image: url(../../../../assets/images/bg-01.jpg)"
      >
        <span class="login100-form-title-1"> Oubliez votre mot de passe? </span>
        <p class="text-white h3">Tapez votre Email</p>
      </div>

      <form
        class="login100-form validate-form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <div
          class="wrap-input100 validate-input m-b-26"
          data-validate="Username is required"
        >
          <span class="label-input100">Email :</span>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            name="email"
            placeholder="Entrer votre Email"
            required="required"
          />
          <p class="text-danger" *ngIf="error.email">{{ error.email }}</p>
          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-b-30">
          <div class="contact100-form-checkbox">
            <span href=""> Already't have an account? </span
            ><a href="login">Login</a>
          </div>
          <div class="contact100-form-checkbox">
            Don't have an account? <a href="signup">Register here!</a>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</div>
